{% extends 'base.html' %}

{% block title %} New-Quiz-Page-2 {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('New_Quiz.static', filename='css/New_Quiz_App_2.css') }}">
<script src="{{ url_for('New_Quiz.static', filename='js/New_Quiz_App_2.js') }}"></script>
{% endblock %}


{% block main %}
<div class="section">
    <div class="title-div">
        <p class="title-p">New Quizzes</p>
    </div>
    <div class="div-content">
        <div class="side-bar-content">
            <button class="big-choice">
                <img src="{{ url_for('New_Quiz.static', filename='img/Big-Choice.svg') }}" alt="Big choice">
                <p>Великий вибір</p>
            </button>
            <button class="fill-form">
                <img src="{{ url_for('New_Quiz.static', filename='img/Fill-Form.svg') }}" alt="Fill Form">
                <p>Заповнити бланк</p>
            </button>
        </div>
        <div class="new-quiz-content">
            <div class="fill-form-frame">
                <input type="text" placeholder="Напишіть запитання:">
            </div>
            <div class="fill-form-frame-2">
                <input type="text" placeholder="Напишіть запитання:">
                <button class="enter-btn">Enter</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}