{% extends 'base.html' %}


{% block title %} New-Quiz-Page {% endblock %}


{% block head %} <link rel="stylesheet" href="{{ url_for('New_Quiz.static', filename='css/New_Quiz_App.css') }}">{% endblock %}


{% block main %}
<div class="section">
    <div class="title-div">
        <p class="title-p">New Quizzes</p>
    </div>
    <div class="div-content">
        <div class="side-bar-content">
            <button class="big-choice">
                <img src="{{ url_for('New_Quiz.static', filename='img/Big-Choice.svg') }}" alt="Big choice">
                <p>Великий вибір</p>
            </button>
            <button class="fill-form">
                <img src="{{ url_for('New_Quiz.static', filename='img/Fill-Form.svg') }}" alt="Fill Form">
                <p>Заповнити бланк</p>
            </button>
        </div>

        <div class="new-quiz-content">
            <div class="fill-form-frame">
                    <input type="text" placeholder="Напишіть запитання:">
            </div>

            <div class="answers-options-frame">
                <button class="answers-options-frame-blue">

                </button>
            
                <button class="answers-options-frame-green">

                </button>
            
                <button class="answers-options-frame-yellow">

                </button>
            
                <button class="answers-options-frame-red">

                </button>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
