{% extends 'base.html' %}

{% block title %} New-Quiz-Page-2-Student {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('New_Quiz.static', filename='css/New_Quiz_App_Student_2.css') }}">
<script src="{{ url_for('New_Quiz.static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('New_Quiz.static', filename='js/New_Quiz_App_2.js') }}"></script>
{% endblock %}

{% block main %}
<div class="section">
    <div class="title-div">
        <p class="title-p">New Quizzes</p>
    </div>
    <div class="div-content">
        <div class="new-quiz-content">
            <div class="fill-form-frame">
                <p>Question information</p>
            </div>
            <div class="fill-form-frame-2">
                <input type="text" placeholder="Write a question:">
                <button class="enter-btn">Enter</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}