{% extends "base.html" %}

{% block title %}Join{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('join.static', filename='css/join.css') }}">
{% endblock %}

{% block main %}
<div class="join-page">

    

    <div class="join-form">
        <form method="post" >
            <input type="text" name="join_code" placeholder="Enter join code" required>
            <button type="submit">Join</button>
        </form>
    </div>

    <div class="passed-quizzes">
        <h2>Passed quizzes</h2>
        <div class="quiz-list">
            
            <div class="quiz-card">
                <img src="{{ url_for('join.static', filename='img/quiz-img.png') }}">
                
            </div>
            
        </div>
    </div>

</div>
{% endblock %}
