{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('user_apps.static.static', filename='css/profile.css') }}">
{% endblock %}

{% block main %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-info">
            <img src="{{ url_for('user_apps.static', filename='img/Avatar.png') }}" alt="Avatar">
            <div class="l">
                <h1>{{ name }}</h1>
                <a href="mailto:{{ email }}">{{ email }}</a>
            </div>
        </div>
        <div class="quiz-stats">
            <div class="quiz-count-box">
                <p>{{ created_quizzes_count }}</p>
                <span>Created quizzes</span>
            </div>
            <div class="quiz-count-box">
                <p>0</p>
                <span>Passed quizzes</span>
            </div>
        </div>
    </div>

    <div class="create-quiz-section">
        <h2>Created quizzes</h2>
    
        {% if quizzes %}
            <div class="quiz-grid">
                {% for quiz in quizzes %}
                    <div class="quiz-card">
                        <img src="{{ url_for('New_Quiz.static', filename='media/' + quiz.image) }}" alt="Quiz Image">
                        <p>{{ quiz.name }}</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>You have no quizzes completed or created</p>
        {% endif %}
    
        <a href="new-quiz-settings" class="create-button">Create a quiz</a>
    </div>
    
</div>
{% endblock %}
