main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1420px;
    height: 800px;
    align-items: center;
    justify-content: start;
    border: 1px solid;
    border-radius: 20px;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid;
}

.title-p {
    font-size: 34px;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.div-content {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 840px;
    max-width: 1500px;
    overflow: hidden;
}

.new-quiz-content {
    display: flex;
    flex-direction: column;
    padding: 28px;
    gap: 20px;
    border: 2px solid;
    border-radius: 20px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.fill-form-frame {
    width: 100%;
    height: 383px;
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answers-options-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 358px;
    border: 2px solid;
    border-radius: 20px;
    gap: 30px;
    padding: 29px;
}

.answer-container {
    position: relative;
    width: 217px;
    height: 300px;
}

.answers-options-frame-blue,
.answers-options-frame-green,
.answers-options-frame-yellow,
.answers-options-frame-red {
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.answers-options-frame-blue {
    background-color: rgba(44, 112, 175, 0.5);
}

.answers-options-frame-green {
    background-color: rgba(45, 157, 166, 0.5);
}

.answers-options-frame-yellow {
    background-color: rgba(238, 169, 40, 0.5);
}

.answers-options-frame-red {
    background-color: rgba(213, 85, 108, 0.5);
}

.answer-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.answer-checkbox:checked {
    background-color: #00C985;
    border-color: #00C985;
}

.answer-checkbox:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
}
