main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1420px;
    height: 800px;
    align-items: center;
    justify-content: start;
    border: 1px solid;
    border-radius: 20px;
  }
  
  .title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid;
    background: none;
  }
  
  .title-p {
    font-size: 34px;
  }
  
  .div-content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 10px;
    width: 100%;
    height: 840px;
    max-width: 1500px;
    background: none;
    overflow: hidden;
  }
  
  .new-quiz-content {
    display: flex;
    flex-direction: column;
    padding: 28px;
    gap: 20px;
    border: 2px solid;
    border-radius: 20px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }
  
  .fill-form-frame {
    position: relative;
    width: 100%;
    height: 383px;
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fill-form-frame-2 {
    display: flex;
    width: 100%;
    height: 383px;
    border: 2px solid;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 29px;
  }
  
  input {
    width: 450px;
    height: 65px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    outline: none;
    color: hsla(0, 0%, 0%, 0.25);
  }
  
  .enter-btn {
    width: 65px;
    height: 65px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(97, 208, 63, 0.5);
    cursor: pointer;
  }
  