@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pridi:wght@200;300;400;500;600;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand';
    background-color: #FAF1F1;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
    border-bottom: 1px solid #bbb4b4;    
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1420px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb4b4;    
}
.urls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.logo-img{
    width: 314px;
    height: 70px;
}
.login-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 40px;
    border: 1px solid #2382FF;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 40%);
    color: #2382FF;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    transition: 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.login-a:hover{
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 10%);
}
.signup-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 40px;
    border: 0px solid #2382FF;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 40%);
    color: #fff;
    background-color: #2382FF;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    transition: 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.signup-a:hover{
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 10%);
}
.text-decoration{
    text-decoration: none;
}
.quiz-history-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.history-a{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 40px;
    color: #fff;
    border: 0px solid #2382FF;
    background-color: #2382FF;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 10%);
    transition: 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.history-a:hover{
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 10%);
}
.new-quiz-a{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 40px;
    color: #fff;
    border: 0px solid #2382FF;
    background-color: #2382FF;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 10%);
    transition: 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.new-quiz-a:hover{
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 10%);
}
.account-a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.username-a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
    padding: 0px 20px;
}
.username-a:hover{
    background-color: #BDDAFF ;
    border-radius: 8px;
    padding: 10px 20px;

}
.log-out-a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #000;
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px 5px;
    font-size: 14px;
}
.log-out-img{
    width: 13px;
    height: 13px;
}