{% extends 'base.html' %}

{% block title %} Quizzes history {% endblock %}

{% block head %} <link rel="stylesheet" href="{{ url_for('history.static', filename='css/history.css') }}">{% endblock %}

{% block main %} 
 <!-- Design -->

    <header></header>
    <div class="section">
        <div class="title-div">
            <var class="title-var">Complete Quizzes</var>
        </div>
        <div class="div-content">
            <div class="quiz-frame">
                <img class="quiz-img"></img>
                <div class="quiz_correct-frame"></div>
                <var class="quiz-var"></var>
            </div>
        </div>
    </div>
    


{% endblock %}